body {
    background: #FDE9B0;
}

#photo-credits {
    color: #616865;
    font-size: x-small;
}

#photo-credits a {
    color: #616865;
    text-decoration: none;
}

#site-credits {
    font-size: small;
}

#site-credits a {
    color: #212529;
    text-decoration: none;
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #card-ingredients {
        max-width: 600px;
    }
}
