doctype
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bacon Recipe Calculator
  body
    h1 Bacon Recipe Calculator
    div
      p
        | Meat weight in grams:
      input(id='meat-weight' type='number' min='0' oninput="validity.valid||(value='');")
      | g
      p
        | Your ingredient list
      - const ingredientList = { 'salt': 'Kosher salt', 'pepper': 'Coarsely ground black pepper', 'sugar': 'Brown sugar', 'water': 'Distilled water', 'cure': 'Pink curing salt (Prague Powder)' }
      ul
        each item, key in ingredientList
          li(id=key)= item + ': '
 
  script(src='js/script.js')

  