doctype
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bacon Recipe Calculator
    // Bootstrap css
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
  body
    div(class='container p-4')
      div(class='img')
        img(src='images/bacon.jpg' class='img-fluid mx-auto d-block rounded' alt='bacon' width='300')
      h1(class='text-center my-4') Bacon Recipe Calculator
      div(class='form-inline justify-content-center')
        label(for='meat-weight' class='mr-sm-2') Your meat weight in grams:
        div(class='input-group')
          input(id='meat-weight' type='number' min='0' oninput="validity.valid||(value='');" placeholder='1000' class='form-control')
          div(class='input-group-append')
            span(class='input-group-text') g
      div
        div(class='card mt-4')
          div(class="card-body")
            h3(class='card-title text-center') Ingredient List
            div(class='table-responsive')
              table(class='table')
                thead
                  tr
                    th Ingredient name
                    th Amount (g)
                tbody
                  - const ingredientList = { 'salt': 'Kosher salt', 'pepper': 'Coarsely ground black pepper', 'sugar': 'Brown sugar', 'water': 'Distilled water', 'cure': 'Pink curing salt (Prague Powder)' }
                  each item, key in ingredientList
                    tr(id=`${key}-row`)
                      td(id=`${key}-label`)=item
                      td(id=`${key}-amount`)

  script(src='scripts/script.js')

  