doctype
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bacon Recipe Calculator
    link(rel='shortcut icon' type='image/png' href='images/favicon.png')
    // Bootstrap css
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')

    link(rel='stylesheet' type='text/css' href='styles/index.css')
  body
    div(class='container p-4')
      div(class='img')
        img(src='images/bacon.jpg' class='img-fluid mx-auto d-block rounded' alt='bacon' width='300')
      h1(class='text-center my-4') Bacon Recipe Calculator
      p(class='mt-4 lead')
        | This calculator is based on the #[a(href='https://www.bingingwithbabish.com/recipes/orangemochafrapp-fpm9l' target='_blank') homemade bacon recipe] by the Binging with Babish blog. Refer to the link for cooking instructions.
      div(class='form-inline justify-content-center')
        label(for='meat-weight' class='mr-sm-2') Enter the weight of your pork belly:
        div(class='input-group')
          input(id='meat-weight' type='number' min='0' oninput="validity.valid||(value='');" placeholder='1000' class='form-control')
          div(class='input-group-append')
            span(class='input-group-text') g
      div
        div(class='card mt-4 mx-auto' id='card-ingredients')
          div(class='card-body')
            h3(class='card-title text-center') Ingredients
            div(class='table-responsive')
              table(class='table')
                thead
                  tr
                    th Item
                    th Amount (g)
                tbody
                  - const ingredientList = { 'salt': 'Kosher salt', 'pepper': 'Coarsely ground black pepper', 'sugar': 'Brown sugar', 'water': 'Distilled water', 'cure': 'Pink curing salt (Prague Powder)' }
                  each item, key in ingredientList
                    tr(id=`${key}-row`)
                      td(id=`${key}-label`)=item
                      td(id=`${key}-amount`)
      p(class='mt-4')
        | Caveats
        br
        | There are two ingredients for which we use a reduce the amount from Babish's recipe: sugar (personal preference - results in a more peppery taste) and curing salt (for safety).

      p(class='mt-4' id='site-credits')
        | Page created by #[a(href='https://dev.to/risafj') Risa Fujii]
      p(class='mt-4' id='photo-credits')
        | Photo credits
        br
        | Header photo by #[a(href='https://unsplash.com/@c4s3y_d3vi?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText' target='_blank') Casey DeViese] from #[a(href='https://unsplash.com/' target='_blank') Unsplash]
        br
        | Favicon by #[a(href='https://www.flaticon.com/authors/nhor-phai' target='_blank') Nhor Phai] from #[a(href='https://www.flaticon.com/' target='_blank') www.flaticon.com]
  script(src='scripts/script.js')
